services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: meemi
      POSTGRES_PASSWORD: meemi
      POSTGRES_DB: meemi
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
